<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Post Detail</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <h2 class="ps-4">BaoViet.24H</h2>
      </a>

      <div
        class="collapse navbar-collapse d-flex justify-content-evenly"
        id="navbarTogglerDemo03"
      >
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active pe-5">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item pe-5">
            <a class="nav-link" href="/post">Bài viết</a>
          </li>
          <li class="nav-item pe-5">
            <a class="nav-link" href="/post">Sức khoẻ</a>
          </li>

          <li class="nav-item dropdown pe-5">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Thể thao
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Đá bóng</a></li>
              <li><a class="dropdown-item" href="#">Điền kinh</a></li>
              <li><a class="dropdown-item" href="#">Cầu lông</a></li>
              <li><a class="dropdown-item" href="#">Bóng chuyền</a></li>
            </ul>
          </li>
          {% if request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          {% endif %}
        </ul>

        <form class="form-inline my-2 my-lg-0 d-flex ms-5" method="POST">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2 me-2"
            type="text"
            placeholder="Search..."
            name="q"
          />
          <button class="btn btn-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>

        <div>
          {% if user.is_authenticated %}
          <div class="d-flex">
            <a class="navbar-text pe-3 text-decoration-none" href="#">
              <p class="navbar-text pe-3 pt-3">Welcome, {{ user.username }}</p>
            </a>
            <div>
              <form
                method="POST"
                action="{% url 'logout' %}"
                class="d-flex"
                role="search"
              >
                {% csrf_token %}
                <button class="btn btn-danger mt-3" type="submit">
                  Logout
                </button>
              </form>
            </div>
          </div>
          {% else %}
          <a class="btn btn-danger" href="/login">Signin</a>
          <a class="btn btn-secondary" href="/register">Signup</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div
      class="container d-flex flex-column justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="">Tiêu đề : {{ post.title }}</h1>

        {% if post.image %}
        <img class="w-50" src="{{ post.image.url }}" alt="Post Image" />
        {% endif %}
        <p>Nội dung : {{ post.content }}</p>
        <p>Created at: {{ post.created_at }}</p>
        <p>Last updated: {{ post.updated_at }}</p>
        {% if user.is_authenticated %}
        <form
          class=""
          method="post"
          action="{% url 'add_comment_to_post' post.pk %}"
        >
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_content" class="form-label">Content</label>
            <input
              type="text"
              class="form-control"
              id="id_content"
              name="content"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
        <div class="comments mt-5 border-top">
          <h2>Comments</h2>
          {% for comment in post.comments.all %}
          <div class="comment border-top">
            <p>
              <strong>{{ comment.author.username }}</strong>:
              {{comment.content}}
            </p>
            <p>{{ comment.created_date|date:"d/m/Y, H:i" }}</p>
          </div>
          {% empty %}
          <p>No comments yet.</p>
          {% endfor %}
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <a class="btn btn-success mb-2" href="{% url 'post_edit' pk=post.pk %}"
        >Edit</a
      >
      <form
        id="delete-form"
        action="{% url 'post_delete' pk=post.pk %}"
        method="post"
      >
        {% csrf_token %}
        <input class="btn btn-danger mb-2" type="submit" value="Delete" />
        {% endif %}
      </form>
      <a class="btn btn-primary mb-2" href="{% url 'post_list' %}"
        >Back to Post List</a
      >
    </div>
    <footer
      class="text-center text-lg-start text-white"
      style="background-color: #1c2331"
    >
      <!-- Section: Social media -->
      <section class="d-flex justify-content-between p-4 bg-warning">
        <!-- Left -->
        <div class="me-5">
          <span class="text-black"
            >Get connected with us on social networks:</span
          >
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">BaoViet.24H</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                Cơ quan chủ quản: Bộ Thông tin và Truyền thông Số giấy phép:
                09/GP - BTTTT, cấp ngày 07/01/2019
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Báo</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                <a href="#!" class="text-white">Đá bóng</a>
              </p>
              <p>
                <a href="#!" class="text-white">Cầu lông</a>
              </p>
              <p>
                <a href="#!" class="text-white">Bóng chuyền</a>
              </p>
              <p>
                <a href="#!" class="text-white">Điền kinh</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                <a href="#!" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>

              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p><i class="fas fa-home mr-3"></i> Việt Nam</p>
              <p><i class="fas fa-envelope mr-3"></i> baoviet24h@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 84 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 84 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="#">BaoViet.24H</a>
      </div>
      <!-- Copyright -->
    </footer>
    <script>
      document
        .getElementById("delete-form")
        .addEventListener("submit", function (event) {
          var confirmation = confirm(
            "Bạn có chắc muốn xoá bài viết này không?"
          );
          if (!confirmation) {
            event.preventDefault(); // Ngăn chặn việc gửi yêu cầu xoá nếu người dùng không xác nhận
          }
        });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
